@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dosis&family=Nunito&family=Shadows+Into+Light&family=Varela+Round&display=swap');

:root {
  --black: #0A0A0A;
  --purpleblue: #4B3394;
  --aquagreen: #51C8C0;
  --mintgreen: #79D8AB;
  --palegreen: #C9E0AE;
  --paleyellow: #E4E8BF;
  --eggwhite: #FCF9ED;
}

h1 {
  margin: 0;
  padding: 0;
  color: #51C8C0;
  font-family: 'Shadows Into Light', cursive;
}

h2 {
  margin: 0;
  color: #79D8AB;
  font-family: 'Comfortaa', cursive;

}

h3 {
  margin: 0;
  font-family: 'Varela Round', sans-serif;

}

h4 {
  margin: 0;
  font-family: 'Dosis', sans-serif;

}

p {
  margin: 0;
  font-family: 'Nunito', sans-serif;

}

body {
  /* margin: 5rem; */

  background-color: #0A0A0A;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
